.App {
  /* grid-template-columns: 1fr 6fr;
  grid-template-rows: auto;
  grid-gap: 3px; */
	height: 100vh;
}

.sidebar {
  background-color: #DCDCDC;
	width: 20%;
	height: 100vh;
	padding: 1vw 2vw;
}

.header {
	align-items: flex-end;
	justify-content: space-between;
}

.logo {
	max-width: 42%;
	height: auto;;
}

.flex {
	display: flex;
}


h3 {
 font-size: 1.5vw;
}

.transparent {
	background: none;
	border: 2px solid black;
	border-radius: 15px;
	padding: 0 1vw;
	margin-bottom: 2vh;
}

.chat-container {
	width: 100%;
	padding: 1vw;
}

button {
	cursor: pointer;
}

.right {
	margin-left: 1vw;
}
