.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-gap: 3px
}

.sidebar {
  background-color: #DCDCDC;
  min-height: 1080px;
  height: ;
}

h3 {
  text-align: center;
}
